<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="POST">
      <input type="text" name="description" />
      <button>Add</button>
      <ul>
      <% todoList.forEach(x => { %>
        <li><%= x.description %></li>
      <% }) %>
      </ul>
    </form>
  </body>
</html>