<!DOCTYPE <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1><%= title %></h1>
  <% if(success === true) {%>
    <h2>Thank you</h2>
  <% } %>
  <% if(failureMessage) {%>
    <h2><%= failureMessage %></h2>
  <% } %>
  <form method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" />
    <input type="date" name="startdate" />
    <input type="number" name="amount" />
    <button>Send</button>
  </form>
</body>

</html>