<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h1><%= title %></h1>
  <h2><%= genSomeUUID() %></h2>
  <ul>
    <% plants.forEach(plant => { %>
      <li><%= plant.id %></li>
    <% }) %>
  </ul>
</body>

</html>