<!DOCTYPE html>
<head>
  <title><%- title %></title>
  <link href="/stylesheets/style.css" rel="stylesheet" />
</head>
<body>
  <% include navigation %>
  <content class="ExpressDemo-content">
    <%- body %>
  </content>
  <% include footer %>
</body>
