<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Consumers</h1>
    <a href="/register">Register</a>
    <ul>
      <% for(const consumer of consumers) { %>
        <li><a href="#"><%= consumer.id %></a></li>
      <% } %>
    </ul>
  </body>
</html>