<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Register new consumer</h1>
    <form method="POST">
      <input type="text" name="id" />
      <input type="submit" value="Los" />
    </form>
  </body>
</html>